[submodule "vendor/vagrantfile"]
	path = vendor/vagrantfile
	url = git@github.com:daftlabs/vagrantfile.git
[submodule "themes/bootstrap"]
	path = themes/bootstrap
	url = https://github.com/320press/wordpress-bootstrap.git
